@import "tailwindcss";

body{
  font-family: Outfit,sans-serif;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@theme {
  --color-primary: #5f6FFF;
}
.active {
  font-weight: bold;
  color: var(--color-primary);
}
@media (max-width: 740px) {
  .active p{
    @apply text-white bg-primary
  }
}